[submodule "minecraft_data/v1_8/data"]
	path = minecraft_data/v1_8/data
	url = https://github.com/PrismarineJS/minecraft-data.git
	branch = 1.8
[submodule "minecraft_data/v1_9/data"]
	path = minecraft_data/v1_9/data
	url = https://github.com/PrismarineJS/minecraft-data.git
	branch = 1.9
